<!DOCTYPE html>
<html>
  <head>
    <title>MaxHD Movies</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
	  <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
		    {{#if user}}
            <li role="presentation" ><a href="/">Movies</a></li>
			<li><a href="/shopping-cart"><span class="glyphicon glyphicon-shopping-cart"></span>Shopping Cart<span class="badge">{{session.cart.totalQty}}</span></a></li>
			<li role="presentation"><a href="/users/logout">LogOut</a></li>
			{{else}}
			<li role="presentation"><a href="/users/login">LogIn</a></li>
            <li role="presentation"><a href="/users/register">Register</a></li>
			{{/if}}
		 </ul>
        </nav>
        <h3 class="text-muted">MaxHD Movies</h3>
      </div>

        <div class="row">
        <div class="col-lg-12">
			{{#if success_msg}}
			<div class="alert alert-success">{{success_msg}}</div>
			 {{/if}}
			 
			 {{#if error_msg}}
			<div class="alert alert-danger">{{error_msg}}</div>
			 {{/if}}
			 
			 {{#if error}}
			<div class="alert alert-danger">{{error}}</div>
			 {{/if}}
          {{{body}}}
        </div>
	</div>

      <footer class="footer">
        <p>&copy; 2018 MaxHD Movies, Inc.</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
